@import "navbar"
@import "leaderboards"
@import "frontpage"

#content
  min-height: 100%
  margin: auto
  padding: 20px
  max-width: 800px
  border-right: 1px lightgray solid
  border-left: 1px lightgray solid
  background-color: white

body
  height: 100%
  padding-top: 50px
  background-color: #f8f9fa

html
  height: 100%
  overflow-y: scroll