<!DOCTYPE html>
<html>
<head>
    <% include head.ejs %>
  <script src="/javascripts/leaderboards.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %> leaderboards</title>
</head>

<body>
<% include navbar.ejs %>

<div id="content">
  <h1><%= title %></h1>
  <p>This is the frontpage</p>
</div>
</body>
</html>
