<!DOCTYPE html>
<html>
<head>
    <% include head.ejs %>
    <script src="/javascripts/leaderboards.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %> leaderboards</title>
</head>

<body>
<% include navbar.ejs %>

<div id="content">
    <h1><%= title %></h1>
    <div class="categories-div">
        <% include categories.ejs %>
    </div>
    <div class="sub-categories-div">

    </div>
    <div id="leaderboards">

    </div>
</div>
</body>
</html>
