/* line 4, ../sass/leaderboards.sass */
#leaderboards table thead > th {
  text-align: center;
  border-top: none;
}
/* line 7, ../sass/leaderboards.sass */
#leaderboards table tbody > tr {
  cursor: pointer;
  text-align: center;
}
/* line 10, ../sass/leaderboards.sass */
#leaderboards table .empty-row {
  text-align: center;
}
/* line 13, ../sass/leaderboards.sass */
#leaderboards .player-weblink {
  text-decoration: none;
}
/* line 16, ../sass/leaderboards.sass */
#leaderboards .loader {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 35, ../sass/leaderboards.sass */
.sub-categories-div .dropdown {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

/* line 42, ../sass/leaderboards.sass */
#categoriesTab {
  padding-top: 20px;
}
/* line 45, ../sass/leaderboards.sass */
#categoriesTab .disabled {
  pointer-events: none;
  cursor: default;
}

/* line 4, ../sass/style.sass */
#content {
  margin: auto;
  padding: 20px;
  max-width: 1000px;
}

/* line 9, ../sass/style.sass */
body {
  padding: 50px;
}
/* line 12, ../sass/style.sass */
body .navbar {
  border-bottom: 1px solid #e9ecef;
}

/* line 15, ../sass/style.sass */
html {
  overflow-y: scroll;
}
